<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.arorms.hanback.mapper.SensorDataMapper">

    <resultMap id="SensorDataMap" type="cn.arorms.hanback.entity.SensorDataEntity">
        <result property="temperature" column="temperature"/>
        <result property="humidity" column="humidity"/>
        <result property="light" column="light"/>
        <result property="rfidData" column="rfid_data"/>
        <result property="timestamp" column="timestamp"/>
    </resultMap>

    <select id="selectByPageAndDate" resultMap="SensorDataMap">
        SELECT * FROM sensor_data
        <where>
            <if test="startTime != null">
                AND timestamp &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                AND timestamp &lt;= #{endTime}
            </if>
        </where>
        ORDER BY timestamp DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="selectById" resultMap="SensorDataMap">
        SELECT * FROM sensor_data WHERE id = #{id}
    </select>

    <delete id="deleteById">
        DELETE FROM sensor_data WHERE id = #{id}
    </delete>

    <insert id="insert" parameterType="cn.arorms.hanback.entity.SensorDataEntity">
        INSERT INTO sensor_data (
            temperature, humidity, light, rfid_data, timestamp
        ) VALUES (
            #{temperature}, #{humidity}, #{light}, #{rfidData}, #{timestamp}
        )
    </insert>

</mapper>
